OPENAI_API_KEY=key-here
LANGCHAIN_API_KEY=key-here
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_PROJECT=mcp-test
MATH_SERVER_PATH=/home/anyuser/path-to/mcp-crash-course/my-code/sse/servers/math_server.py